{% extends 'base.html' %}
<title>学生页面</title>
{% block content %}
    <table>
        <tr>
            <th>id</th>
            <th>班级名称</th>
            <th>描述</th>
            {% for grade in grades %}
                </tr>
                <td>{{ grade.g_id }}</td>
                <td>{{ grade.g_name }}</td>
                <td>{{ grade.g_desc }}</td>
                <td>
                    <a href="/user/create_user_by_grade/?g_id={{ grade.g_id }}">添加学生</a>
                    <a href="/user/select_stu_by_grade/?g_id={{ grade.g_id }}">查看学生</a>
                </td>

            {% endfor %}

    </table>
{% endblock %}