{% extends 'base.html' %}
{% block title %}
    分数
{% endblock %}
{% block extCSS %}
    {#    <link rel="stylesheet" href="/static/css/css.css">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
{% endblock %}
{% block content %}
    {{ scores }}
    <ul>
        {% for score in scores %}
            {% if loop.first %}
                <li style="color: red">{{ loop.index }} : {{ score }}</li>
            {% elif loop.last %}
                <li style="color: #4bff41">{{ score }}</li>
            {% else %}
                <li>{{ score }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    后端传递的参数 : {{ content_h2 }}
    <br>
    后端传递的参数去掉样式 : {{ content_h2|striptags }}
    <br>
    渲染出来的样式 : {{ content_h2|safe }}
    <br>
    h3 : {{ content_h3 }}{{ content_h3|length }}
    <br>
    h3 : {{ content_h3|trim }}{{ content_h3|trim|length }}


    <br>
    {% from 'common.html' import show_goods,say %}
    {{ show_goods(1,'保时捷') }}
    {{ show_goods('2','法拉利') }}

    {{ say() }}
    <h1>嘿嘿</h1>



{% endblock %}
