{% extends 'base.html' %}
{% block title %}
    分页
{% endblock %}
{% block content %}
    {% for stu in stus %}
        <li>
            {{ stu.s_id }}
            {{ stu.s_name }}
            {{ stu.s_age }}
        </li>
    {% endfor %}
    {{ paginate.page }} / {{ paginate.pages }}
    {% if paginate.has_prev %}
        <a href="/user/paging/?page={{ paginate.prev_num }}">上一页</a>
    {% endif %}

    {% for i in paginate.iter_pages() %}
        <a href="/user/paging/?page={{ i }}">{{ i }}</a>
    {% endfor %}

    {% if paginate.has_next %}
        <a href="/user/paging/?page={{ paginate.next_num }}">下一页</a>
    {% endif %}

{% endblock %}