{% extends 'base_main.html' %}
{% block title %}
    注册
{% endblock %}
    {% block extCSS %}
 <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/page.css"/>

    {% endblock %}
    {% block extJS %}
        {{ super() }}
    <script type="text/javascript" src="/static/js/public.js"></script>

    {% endblock %}
{% block content %}

<!-- 登录body -->
<form action="" method="post">
    <div class="logDiv">
        <img class="logBanner" src="/static/img/logBanner.png"/>
        <div class="logGet">
            <!-- 头部提示信息 -->
            <div class="logD logDtip">
                <p class="p1">注册</p>
            </div>
            <!-- 输入框 -->


            <p class="lgD">{{ msg }}</p>
            <div class="lgD">
                <img class="img1" src="/static/img/logName.png"/>
                <input type="text" name="username" placeholder="输入用户名"/>
            </div>
            <div class="lgD">
                <img class="img1" src="/static/img/logPwd.png"/>
                <input type="password" name="password" placeholder="输入用户密码"/>
            </div>
            <div class="lgD">
                <img class="img1" src="/static/img/logPwd.png"/>
                <input type="password" name="password2" placeholder="确认密码"/>
            </div>
            <div class="logC">
                <button type="submit">注册</button>
            </div>
        </div>
    </div>
</form>
<!-- 登录body  end -->
{% endblock %}



